.expense-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    gap: 20px;

    margin: auto;
    width: 799px;
    height: 853px;
    left: 582px;
    top: 179px;

    /* background: #1A1A1A; */
}
.include{
    display: flex;
    justify-content: space-between;
}
.include button{
    background: #1A1A1A;
    border: none;
    font-size: 25px;
    
}
.fas:hover{

    color:coral;
}
.fas{
    color:#575757;
    margin-left: 10px;
    font-size: 30px;
    /* margin-top: 0px; */
} 