*{
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.product-container {
  background-color: rgb(178, 220, 238);
  margin: 2rem;
  padding: 2rem;
  border-radius: 10px;
  max-width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.price{
  margin-left: 90%;
}